<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.communitycleanup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivities.CheckIn.CheckInSuccess"></activity>
        <activity android:name=".HomeActivities.CheckIn.NoEventsActivity" />
        <activity android:name=".HomeActivities.AboutActivity" />
        <activity android:name=".HomeActivities.EventsActivity" />
        <activity android:name=".HomeScreen" />
        <activity android:name=".HomeActivities.DrugEvidenceActivity" />
        <activity android:name=".HomeActivities.FlyTippingActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivities.CheckIn.CheckInActivity" />
        <activity android:name=".HomeActivities.CheckOutActivity" />
        <activity android:name=".HomeActivities.MyAccount" />
    </application>

</manifest>